@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(0, 0, 0);
}

.player {
  margin: 30px;
  padding: 10px;
  border: 2px solid #000000;
}

.player .playButton {
  position: relative;
  left: 65%;
  top: -25px;
  text-decoration: none;
  padding: 10px;
  min-width: 100px;
}

.gameAdmin .newThings {
  padding: 10px;
  margin: 30px;
  border-top: 1px solid #000000;
}

.gameAdmin .newThings input{
  min-width: 50%;
  position: absolute;
  right: 30px;
}